<!--<p>
  <strong>Tweet :</strong>
  %= comment.text %>
</p>
-->
<p>
  <strong>Text:</strong>
  <%= comment.body %>
</p>
<p>
<div style="float:right">
 <%= link_to 'Destroy Tweet', [comment.user, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
               </div>
               <br>
</p>