<!DOCTYPE html>
<html>
<head>
  <title>Arzuhal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
      <body style="float: center">
          <div style="text-align:left;width:600px">
            <div>
              <h1 style="text-align: right">ARZUHAL</h1>
              </div>
            <HR/>
          </div>
          <div style="text-align:left;width:600px">
            <div>
              <%= yield %>
            </div>
        </div>


    </body>
</html>
